
<div class="header"> 
  <div class="card">
    <div class="">
      <h1>Sports Facility Managemnt System</h1>
    </div>
    
  
  </div>
</div>
<div class="navbar">


  <nav id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      
      
        <a class="nav-link" href="{{ url_for('booking') }}">Booking</a>
      
        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>

        <a class="nav-link" href="{{ url_for('test') }}">Test</a>
      
  
  </nav>
  <span style="font-size: 30px;cursor: pointer;" onclick="openNav()">&#9776;</span>
</div>